In [1]:
import lambdata_mjh09.lambdata as lambdata
import pandas as pd

In [2]:
dir(lambdata)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'null',
 'split_date']

In [3]:
SOURCE = 'C:/Users/Cactuar/Documents/'

In [4]:
rating_table = pd.read_csv(SOURCE + 'rating_table.csv')
match_table = pd.read_csv(SOURCE + 'match_table.csv')

In [5]:
match_table.head()

,id,period_id,date,pla_id,plb_id,sca,scb,rca,rcb,treated,event,eventobj_id,submitter_id,game,offline,rta_id,rtb_id
0,16039,37,2011-07-22,41,172,2,1,T,T,t,ESET Summer Masters 2011 Q3 - Semi Final (SC2C),NaN,NaN,WoL,f,4485977.0,4486087.0
1,24883,2,2010-03-13,208,1218,4,2,Z,P,t,NaN,7311.0,NaN,WoL,f,NaN,1370384.0
2,14085,42,2011-09-23,235,170,0,2,Z,P,t,MLG Global Invitational NA - Loserbracket Prel...,3548.0,NaN,WoL,f,4645786.0,4645732.0
3,81527,44,2011-10-24,130,721,2,0,Z,P,t,NaN,21686.0,10.0,WoL,f,4650861.0,NaN
4,19393,29,2011-03-30,152,22,2,1,Z,Z,t,NaN,982.0,NaN,WoL,t,4471621.0,4471523.0

In [6]:
rating_table.head()

,id,period_id,player_id,rating,rating_vp,rating_vt,rating_vz,dev,dev_vp,dev_vt,...,bf_dev_vp,bf_dev_vt,bf_dev_vz,position,position_vp,position_vt,position_vz,decay,domination,prev_id
0,6746817,243,1588,0.168328,0.000000,0.000000,0.000000,0.16,0.16,0.16,...,0.16,0.16,0.16,NaN,NaN,NaN,NaN,225,NaN,6729568.0
1,6746581,243,1320,0.162612,0.018065,0.022428,-0.040493,0.16,0.16,0.16,...,0.16,0.16,0.16,NaN,NaN,NaN,NaN,5,NaN,6729332.0
2,6746580,243,1319,0.012787,0.000000,0.000000,0.000000,0.16,0.16,0.16,...,0.16,0.16,0.16,NaN,NaN,NaN,NaN,195,NaN,6729331.0
3,6746579,243,1318,-0.049679,0.000000,0.000000,0.000000,0.16,0.16,0.16,...,0.16,0.16,0.16,NaN,NaN,NaN,NaN,189,NaN,6729330.0
4,6757453,243,13832,-0.138731,0.000000,0.090282,-0.090282,0.16,0.16,0.16,...,0.16,0.16,0.16,NaN,NaN,NaN,NaN,65,NaN,6740204.0

In [7]:
lambdata.null(rating_table)

id                    0
period_id             0
player_id             0
rating                0
rating_vp             0
rating_vt             0
rating_vz             0
dev                   0
dev_vp                0
dev_vt                0
dev_vz                0
comp_rat              0
comp_rat_vp           0
comp_rat_vt           0
comp_rat_vz           0
bf_rating             0
bf_rating_vp          0
bf_rating_vt          0
bf_rating_vz          0
bf_dev                0
bf_dev_vp             0
bf_dev_vt             0
bf_dev_vz             0
position        1782929
position_vp     1782929
position_vt     1782929
position_vz     1782929
decay                 0
domination      1794162
prev_id           19801
dtype: int64